In [35]:
!dir

 驱动器 D 中的卷是 软件
 卷的序列号是 A0BB-FCA3

 D:\a\Python数据处理专题 的目录

2019/04/21  14:23    <DIR>          .
2019/04/21  14:23    <DIR>          ..
2019/04/21  14:03    <DIR>          .ipynb_checkpoints
2018/11/16  14:15        78,512,019 911.csv
2019/04/20  21:37            45,846 boss1.csv
2019/04/18  11:56            39,888 boss1.txt
2019/04/20  21:37            45,846 boss2.csv
2019/04/20  21:37            45,846 boss3.csv
2019/04/20  21:37            45,846 boss4.csv
2019/04/20  21:37            45,846 boss5.csv
2019/04/20  21:37            45,846 boss6.csv
2019/04/21  14:17               248 demo.npy
2019/04/21  14:20               205 demo.pkl
2019/03/14  18:49           725,760 nba数据分析报告【面试】.ipynb
2019/04/21  14:23            12,275 Python数据处理专题-加载IO.ipynb
2019/04/21  12:50            31,001 Python数据处理专题-字符串.ipynb
2019/04/21  13:19            25,059 Python数据处理专题-时间序列.ipynb
2019/04/21  13:27            15,334 Python数据处理专题-更改数据类型.ipynb
2019/04/21  09:57               719 README.md
2019/04/21  14:06             6,614 新建 Microsoft Excel 工作表.xlsx
              17 个文件     79,644,198 字节
               3 个目录 203,357,110,272 可用字节

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 同时读取多个文件
* 文件命名要有规律
* 或者构建文件名列表

data_list = []
for i in range(1,6):
    try:
        data = pd.read_csv('boss{}.csv'.format(i),encoding='gbk')
    except:
        data = pd.read_csv('boss{}.csv'.format(i))
    data_list.append(data)

print(len(data_list))
data = pd.concat(data_list)
data.head(2)

# 连接数据库
* 推荐用sqlalchemy连接
    * 因为，他支持不用先建立字段，就能上传DataFrame文件

In [15]:
from sqlalchemy import create_engine
import pandas as pd

def reader(query,db = 'learn'):
    sql = query
    engine = create_engine('mysql+pymysql://root:admin888@127.0.0.1:3306/{0}?charset=utf8'.format(db))
    df = pd.read_sql(sql,engine,)
    return df

df_company = reader('select database();','demo')
df_company

  database()
0       demo

In [16]:
engine = create_engine('mysql+pymysql://root:admin888@127.0.0.1:3306/demo?charset=utf8')
# 读取MySQL
pd.read_sql("""select database();""",con = engine)

  database()
0       demo

In [20]:
# DataFrame写入MySQL
data.to_sql("new_table_name",con=engine,index=True)

# numpy序列化

In [23]:
a = np.zeros((3,5))
np.save('demo',a) # a存为demo.npy文件
np.load('demo.npy') # 读取 .npy文件

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

# pickle序列化

In [25]:
import pickle
import numpy as np
a = np.arange(12).reshape(3,4)

# 序列化
f = open('demo.pkl','wb') # 写  二进制
pickle.dump(a,f) # a写入 demo.pkl

In [27]:
f = open('demo.pkl','rb') # 读 二进制
pickle.load(f)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

# JSON样式的TXT文件
* 每行都形如
``{"title": "平面设计师管培生", "salary": "2k-3k", "position": "合肥  ", "working_life": "经验不限", "education": "本科", "company_name": "哈啰出行", "company_type": "互联网", "financing_info": "D轮及以上", "staff_numbers": "1000-9999人", "recruiter_name": "徐女士", "recruiter_job": "HR", "release_time": "暂无信息"}``

的.txt文件

In [34]:
import json
f = open('boss1.txt','r')
lines = f.readlines()
df = pd.DataFrame()
for i in range(len(lines)):
    df = df.append(pd.DataFrame.from_dict(json.loads(lines[i]),orient='index').T)
f.close()
df.head(2)

,title,salary,position,working_life,education,company_name,company_type,financing_info,staff_numbers,recruiter_name,recruiter_job,release_time
0,数据分析专家,20k-40k,上海 闵行区 莘庄,5-10年,本科,哈啰出行,互联网,D轮及以上,1000-9999人,方女士,招聘主管,暂无信息
0,Java开发专家（服务端）,25k-40k,上海 闵行区 莘庄,5-10年,本科,哈啰出行,互联网,D轮及以上,1000-9999人,樊先生,招聘者,暂无信息

> By 儒冠多误身 2019/04/21

> 未完待续