# 针对时间戳的操作

1. 取年月
2. 取位于第几周

In [1]:
# coding = utf-8
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import time

In [2]:
data = pd.read_csv('911.csv')
data.tail(2)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
423907,40.190946,-75.237285,SUMNEYTOWN PIKE & WELLINGTON DR; LOWER GWYNEDD...,19002.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:51:48,LOWER GWYNEDD,SUMNEYTOWN PIKE & WELLINGTON DR,1
423908,40.155164,-75.264665,HOFFMAN ; LOWER GWYNEDD; 2018-11-16 @ 08:46:25;,19422.0,Traffic: DISABLED VEHICLE -,2018-11-16 08:46:25,LOWER GWYNEDD,HOFFMAN,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423909 entries, 0 to 423908
Data columns (total 9 columns):
lat          423909 non-null float64
lng          423909 non-null float64
desc         423909 non-null object
zip          371780 non-null float64
title        423909 non-null object
timeStamp    423909 non-null object
twp          423750 non-null object
addr         423909 non-null object
e            423909 non-null int64
dtypes: float64(3), int64(1), object(5)
memory usage: 21.0+ MB

# 取年月
* 方法一
    * Series.astype('datetime64[M]')
    *  此时为datetime64[ns]类型
* 方法二
    * Series.str.rsplit('-',n=1,expand=True)[0]
    * 此时为 object类型

In [55]:
# 方法一
data['month'] = data['timeStamp'].astype('datetime64[M]') # 此时为datetime64[ns]类型
print('month列的数据类型为%s'%data.dtypes[-1:])
data.head(3)

month列的数据类型为month    datetime64[ns]
dtype: object

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,month
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1,2015-12-01
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,2015-12-01
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1,2015-12-01

In [54]:
# 方法二 
data['month'] = data['timeStamp'].str.rsplit('-',n=1,expand=True)[0]
print('month列的数据类型为%s'%data.dtypes[-1:])
data.tail(2)

month列的数据类型为month    object
dtype: object

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,month
423907,40.190946,-75.237285,SUMNEYTOWN PIKE & WELLINGTON DR; LOWER GWYNEDD...,19002.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:51:48,LOWER GWYNEDD,SUMNEYTOWN PIKE & WELLINGTON DR,1,2018-11
423908,40.155164,-75.264665,HOFFMAN ; LOWER GWYNEDD; 2018-11-16 @ 08:46:25;,19422.0,Traffic: DISABLED VEHICLE -,2018-11-16 08:46:25,LOWER GWYNEDD,HOFFMAN,1,2018-11

In [47]:
# 方法三
a = data['timeStamp'].str.rsplit('-',n=1).tolist()# 从右侧开始切，n=1 切一刀
print(data['timeStamp'].head().str.rsplit('-',n=1).tolist())

[['2015-12', '10 17:10:52'], ['2015-12', '10 17:29:21'], ['2015-12', '10 14:39:21'], ['2015-12', '10 16:47:36'], ['2015-12', '10 16:56:52']]

In [56]:
b = [i[0] for i in a]
data['month'] = pd.DataFrame(np.array(b).reshape((data.shape[0],1)))
print('month列的数据类型为%s'%data.dtypes[-1:])
data.head(2)

month列的数据类型为month    object
dtype: object

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,month
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1,2015-12
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,2015-12

# 第几周
* TimeStamp.dt.

In [75]:
a = pd.to_datetime(data['timeStamp'])
print(a.head(2))
data['weekofyear'] = a.dt.weekofyear
print("第几周 列的数据类型为%s"%data.dtypes[-1:])
data.tail(3)

0   2015-12-10 17:10:52
1   2015-12-10 17:29:21
Name: timeStamp, dtype: datetime64[ns]
第几周 列的数据类型为weekofyear    int64
dtype: object

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,month,weekofyear
423906,40.270121,-75.382825,OAK DR & MOYER RD; LOWER SALFORD; 2018-11-16 @...,19438.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:54:19,LOWER SALFORD,OAK DR & MOYER RD,1,2018-11,46
423907,40.190946,-75.237285,SUMNEYTOWN PIKE & WELLINGTON DR; LOWER GWYNEDD...,19002.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:51:48,LOWER GWYNEDD,SUMNEYTOWN PIKE & WELLINGTON DR,1,2018-11,46
423908,40.155164,-75.264665,HOFFMAN ; LOWER GWYNEDD; 2018-11-16 @ 08:46:25;,19422.0,Traffic: DISABLED VEHICLE -,2018-11-16 08:46:25,LOWER GWYNEDD,HOFFMAN,1,2018-11,46

* 去除单位
```python
df.col / np.timedelta64(1,'D')
```

# 时间序列的操作

1. pd.date_range(start=None,end=None,periods=None,freq='D')

In [76]:
pd.date_range(start='2018/12/21',end='2019/04/21')

DatetimeIndex(['2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24',
               '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
               '2018-12-29', '2018-12-30',
               ...
               '2019-04-12', '2019-04-13', '2019-04-14', '2019-04-15',
               '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-19',
               '2019-04-20', '2019-04-21'],
              dtype='datetime64[ns]', length=122, freq='D')

In [77]:
pd.date_range(end='2019/04/21',periods=10)

DatetimeIndex(['2019-04-12', '2019-04-13', '2019-04-14', '2019-04-15',
               '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-19',
               '2019-04-20', '2019-04-21'],
              dtype='datetime64[ns]', freq='D')

In [78]:
pd.date_range(end='2019/04/21',periods=10,freq='WOM-3FRI')

DatetimeIndex(['2018-07-20', '2018-08-17', '2018-09-21', '2018-10-19',
               '2018-11-16', '2018-12-21', '2019-01-18', '2019-02-15',
               '2019-03-15', '2019-04-19'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [79]:
pd.date_range(start='2018/12/21',periods=10,freq='BM')

DatetimeIndex(['2018-12-31', '2019-01-31', '2019-02-28', '2019-03-29',
               '2019-04-30', '2019-05-31', '2019-06-28', '2019-07-31',
               '2019-08-30', '2019-09-30'],
              dtype='datetime64[ns]', freq='BM')